@{
    var isToken = Context.Request.Cookies.ContainsKey("JWToken");
}
<div>
    @if (!isToken)
    {
        <div class="pixel-art-container m-5">
            <img src="~/images/green-ghost.png" alt="Green pacman ghost" class="pixel-art" />
            <img src="~/images/orange-ghost.png" alt="Orange pacman ghost" class="pixel-art" />
            <img src="~/images/red-ghost.png" alt="Red pacman ghost" class="pixel-art" />
            <img src="~/images/pacman.png" alt="Pacman" class="pixel-art" />
            <img src="~/images/pacman-food.png" alt="Pacman Food 1" class="pixel-art" style="margin-left: 1rem" />
            <img src="~/images/pacman-food.png" alt="Pacman Food 2" class="pixel-art" style="margin-left: 1rem" />
            <img src="~/images/pacman-food.png" alt="Pacman Food 3" class="pixel-art" style="margin-left: 1rem" />
            <img src="~/images/cherry.png" alt="Pacman Cherry" class="pixel-art" style="margin-left: 2rem" />
        </div>
    }
    else
    {
        <div class="pixel-art-container m-5">
            <img src="~/images/pacman.png" alt="Pacman" class="pixel-art" style="margin-left: 16rem" />
            <img src="~/images/scared-ghost.png" alt="Scared pacman ghost 1" class="pixel-art" style="margin-left: 4rem" />
            <img src="~/images/scared-ghost.png" alt="Scared pacman ghost 2" class="pixel-art" />
            <img src="~/images/scared-ghost.png" alt="Scared pacman ghost 3" class="pixel-art" />
        </div>
    }
</div>
