@{
    var isToken = Context.Request.Cookies.ContainsKey("JWToken");
}
<div>
    @if (!isToken)
    {
        <div class="pixel-art-container m-5">
            <img src="~/images/green-ghost.png" alt="" loading="lazy" aria-hidden="true" class="pixel-art" />
            <img src="~/images/orange-ghost.png" alt="" loading="lazy" aria-hidden="true" class="pixel-art" />
            <img src="~/images/red-ghost.png" alt="" loading="lazy" aria-hidden="true" class="pixel-art" />
            <img src="~/images/pacman.png" alt="" loading="lazy" aria-hidden="true" class="pixel-art" />
            <img src="~/images/pacman-food.png" alt="" loading="lazy" aria-hidden="true" class="pixel-art" style="margin-left: 1rem" />
            <img src="~/images/pacman-food.png" alt="" loading="lazy" aria-hidden="true" class="pixel-art" style="margin-left: 1rem" />
            <img src="~/images/pacman-food.png" alt="" loading="lazy" aria-hidden="true" class="pixel-art" style="margin-left: 1rem" />
            <img src="~/images/cherry.png" alt="" loading="lazy" aria-hidden="true" class="pixel-art" style="margin-left: 2rem" />
        </div>
    }
    else
    {
        <div class="pixel-art-container m-5">
            <img src="~/images/pacman.png" alt="" loading="lazy" aria-hidden="true" class="pixel-art" style="margin-left: 16rem" />
            <img src="~/images/scared-ghost.png" alt="" loading="lazy" aria-hidden="true" class="pixel-art" style="margin-left: 4rem" />
            <img src="~/images/scared-ghost.png" alt="" loading="lazy" aria-hidden="true" class="pixel-art" />
            <img src="~/images/scared-ghost.png" alt="" loading="lazy" aria-hidden="true" class="pixel-art" />
        </div>
    }
</div>
