<form method="post" asp-controller="Account" asp-action="Login">
    <label class="text-light">Username:</label>
    <input type="text" name="username"/>
    <label class="text-light">Password:</label>
    <input type="password" name="password"/>
    <button type="submit" class="btn btn-success" style="margin-left: 50px">Login</button>
</form>