@using AdvFullstack_Labb2.ViewModels.DisplayVMs
@model List<MenuItemPublicVM>

@{
    ViewData["Title"] = "Meny";
}

<section class="text-center">

    <header class="text-center m-5">
        <h1 class="display-4">Meny</h1>
    </header>
    @if (Model != null && Model.Any())
    {
        <main class="container">
            <div class="row justify-content-center">
                @foreach (var menuItem in Model)
                {
                    var imageUrl = string.IsNullOrEmpty(menuItem.ImageUrl) || menuItem.ImageUrl?.ToLower() == "none"
                    ? "https://placehold.co/100?text=Ingen+Bild&font=lora"
                    : menuItem.ImageUrl;


                    <div class="col-md-3 mb-4">
                        <div class="card h-100 shadow-sm">
                            <img src="@imageUrl" class="card-img-top" alt="@menuItem.Name" style="object-fit: cover; height: 100px;" />
                            <div class="card-body">
                                <h5 class="card-title">@menuItem.Name</h5>
                                <p class="card-text fw-bold text-success">
                                    @menuItem.Price.ToString("C")
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </main>
    }
    else
    {
        <div class="alert alert-warning text-center">
            <p>Inga meny varor finns ännu</p>
        </div>
    }

</section>
