@using AdvFullstack_Labb2.ViewModels.DisplayVMs
@{
    ViewData["Title"] = "Hem | Pacman Café";
    ViewData["MetaDescription"] = "Välkommen till Pacman Café! Upptäck våra populära menyval, inklusive Michael’s Cookie och Oliver’s School Brew.";
}

@model List<MenuItemPublicVM>

<section class="text-center">

    <header class="text-center m-5">
        <h1 class="display-4">Pacman Café</h1>
        <p class="lead">Välkom-nom-nom-men till Pacman-Caféet! Vi rekommenderar starkt vår nya kaka Michael's Cookie samt vårt nya goda te Oliver's School Brew! Se våra populära menyval nedan</p>
    </header>
    @if (Model != null && Model.Any())
    {
        <main class="container">
            <div class="row justify-content-center">
                @foreach (var menuItem in Model)
                {
                    var imageUrl = string.IsNullOrEmpty(menuItem.ImageUrl) || menuItem.ImageUrl?.ToLower() == "none"
                        ? "https://placehold.co/200?text=Ingen+Bild&font=lora"
                        : menuItem.ImageUrl;
                    
                    
                    <div class="col-md-4 mb-4" >
                        <div class="card h-100 shadow-sm">
                            <img src="@imageUrl" class="card-img-top" alt="@menuItem.Name" style="object-fit: cover; height: 200px;" loading="lazy"/>
                            <div class="card-body">
                                <h5 class="card-title">@menuItem.Name</h5>
                                <p class="card-text fw-bold text-success">
                                    @menuItem.Price.ToString("C")
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </main>
    }
    else
    {
        <div class="alert alert-warning text-center">
            <p>Inga meny varor finns ännu</p>
        </div>
    }

</section>
