@{
    ViewData["Title"] = "Home Page";
}

@model List<Table>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach (var table in Model)
    {
        <h2>Id: @table.Id</h2>
        <span>Seatings: @table.Seatings</span>
        <p>Table No. @table.TableNumber</p>
    }
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
