@using AdvFullstack_Labb2.ViewModels.DisplayVMs;
@model List<AdminVM>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table td, table th {
        vertical-align: middle;
    }
</style>

<h1>Administratörer</h1>

<section>
    <div class="text-center">
        <a class="btn btn-success m-3" asp-action="Create">Create New</a>
    </div>
    <table class="table table-bordered table-hover table-striped text-center bg-white">
        <thead class="table-light">
            <tr>
                <th>Användarnamn</th>
                <th>Lösenord</th>
                <th>Ändra</th>
                <th>Ta bort</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Username</td>
                    <td >********</td>
                    
                    <td>
                        <a asp-action="Edit" asp-route-id=@item.Id
                           class="btn btn-sm btn-warning">Edit</a>
                    </td>
                    <td>
                        <form asp-action="Delete" method="Post" class="d-inline">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" class="btn btn-sm btn-danger"
                                    onclick="return confirm('Are you sure you want to delete this item?')">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
